name: Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: 'allallallnft-rlp-proxy' #Must be unique in Heroku
          heroku_email: 'jungsuck@pack.systems'
        env:
          HD_SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
          HD_SERVER_URL: ${{ secrets.SERVER_URL }}
